/* Define estilos básicos para o corpo da página */
body {
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura da tela inteira */
    background-color: #ebebed; /* Cor de fundo */
}

/* Estilos para o container de recuperação de senha */
.login-container {
    background-color: whitesmoke;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 200px;
    height: 300px;
    max-width: 100%; /* Largura máxima */
    text-align: center;
}

/* Estilos para o título de recuperação de senha */
.login-title {
    color: #837E7E; /* Cor do texto */
    font-size: 30px; /* Tamanho da fonte */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para campos de entrada de recuperação de senha */
.login-input {
    margin-left:-20px ;
    width: 200px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Cantos arredondados */
}


/* Estilos para o botão de recuperação de senha quando clicado */

.login-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s; /* Adiciona transições suaves */
}

/* Estilos para o botão de recuperação de senha quando clicado */
.login-button.clicked :active {
    background-color: #0056b3; /* Cor de fundo quando clicado */
    transform: scale(0.95); /* Reduz o tamanho do botão quando clicado */
}


/* Estilos para o link "Esqueceu a senha?" */
.forgot-password {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    margin-top: 10px; 
}

/* Estilos para o link "Criar uma conta" */
.create-account {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}
