* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0D0D12;
    overflow: hidden;
    display: flex; /*Usando flexbox para alinhar os itens horizontalmente */
    justify-content: center; /* Centralizar horizontalmente os itens */
    align-items: center; /* Centralizar verticalmente os itens */
    width: 100%;
    height: 70px;
}

/* Estilizar os links com a fonte "Open Sans Extra Bold" */
li.game a, li.sing-in a  {
    display: block;
    color: #ddd;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Lato', sans-serif; /* Aplicar a fonte "Lato" */
    font-weight: 800; /* Espessura "Extra Bold" se desejado */
}


/* Estilos para os links quando o mouse está sobre eles */
li.nav-item a:hover {
    background-color: #ddd;
    color: #0D0D12;
    width: 100%;
    text-align: right;
}

body {
    background-color: #35343D;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo para a barra de pesquisa */
.barra-de-pesquisa {
    display: flex;
    align-items: center;
    width: 500px;
    padding: 9px;
    background-color: white; 
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin-left: -150px;
    margin-right: 25px;
}

.barra-de-pesquisa input[type="text"]:focus {
    outline: none;
}

.barra-de-pesquisa input {
    flex: 1; /* Expande a entrada para ocupar o espaço restante */
    border: none; /* Remove a borda da entrada de texto */
    background: none; /* Remove o fundo da entrada de texto */
}

/* Estilo para o ícone da lupa */
.lupa {
    margin-right: 10px;
    font-size: inherit;
    color: #555;
    cursor: pointer;
}

.img img {
    width: 200px;
    height: auto;
    margin-bottom: 14px;
    margin-right: 150px;
}

.jogos-favoritos h2 {
    margin-top: 60px;
    color: #ddd;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    margin-left: 320px;
    border-bottom: 2px solid #ddd; /* Adicione uma linha de 2px de espessura e cor preta embaixo do h2 */
    display: inline-block; /* Isso ajuda a limitar a largura da linha ao texto */
    padding-bottom: 5px;
    width: 600px;
}

.jogos-favoritos .lista-jogos {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;
}

.jogos-favoritos .lista-jogos li {
    display: inline-block;
    font-size: 20px;
    margin-right: 200px; 
    text-align: center; 
    margin-left: 300px;
}

/* Estilos para as imagens */
.jogos-favoritos .lista-jogos li img {
    display: block; 
    max-width: 200px; 
    height: auto; 
    margin-bottom: 5px; 
}

#botaoEscolha {
    padding: 9px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; /* Pode ajustar a espessura da fonte conforme necessário */
    outline: none;
    cursor: pointer;
    margin-left: px;
}

.categoria{
    margin-top: 430px;
    margin-left: 1120px;
}

/* Estilo para a caixa de seleção */
.categoria select {
    width: 250px; /* Largura da caixa de seleção */
    padding: 10px; /* Espaçamento interno */
    border: 2px solid #ccc; /* Borda da caixa de seleção */
    border-radius: 10px; /* Cantos arredondados */
    background-color: #fff; /* Cor de fundo da caixa de seleção */
    outline: none;
    margin-left: -165px;
}

/* Estilo para a seta da caixa de seleção (indicador) */
.categoria select::after {
    content: "\25BC"; /* Código unicode para uma seta para baixo */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Estilizar a opção padrão (Categoria) */
.categoria select option:first-child {
    color: #999; /* Cor do texto para a opção padrão */
}

/* Estilo para as opções */
.categoria select option {
    padding: 5px;
}

/* Estilo quando a caixa de seleção está focada (pode adicionar mais estilos) */
.categoria select:focus {
    border-color: #555;
}

/* Estilo para o contêiner do carrossel */
.carrossel {
    display: flex;
    align-items: center;
    position: relative;
}

/* Estilo para o contêiner dos slides */
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 500px;
    height: 250px;
    margin-bottom: -450px;
    margin-left: 550px;
    margin-top: -50px;
}

/* Estilo para cada slide do carrossel */
.carousel-slide {
    flex: 0 0 auto;
    margin-right: 20px; /* Espaço entre os slides */
}

/* Estilo para as setas de navegação */
.carousel-prev, .carousel-next {
    font-size: 24px; /* Tamanho do ícone de seta */
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    color: white; /* Cor do ícone */
    position: absolute;
    top: 50%; /* Centralizar verticalmente */
    transform: translateY(-50%);
    transition: background-color 0.3s ease; /* Transição de cor de fundo */
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
}

/* Estilo para a seta à esquerda */
.carousel-prev {
    left: 0; /* Colocar à esquerda */
}

/* Estilo para a seta à direita */
.carousel-next {
    right: 0; /* Colocar à direita */
}

.jogos-curtidos h2 {
    margin-top: 300px;
    color: #ddd;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    margin-left: 320px;
    border-bottom: 2px solid #ddd; /* Adicione uma linha de 2px de espessura e cor preta embaixo do h2 */
    display: inline-block; /* Isso ajuda a limitar a largura da linha ao texto */
    padding-bottom: 5px;
    width: 600px;
}
