* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0D0D12;
    overflow: hidden;
    display: flex; /*Usando flexbox para alinhar os itens horizontalmente */
    justify-content: center; /* Centralizar horizontalmente os itens */
    align-items: center; /* Centralizar verticalmente os itens */
    width: 100%;
    height: 80px;
}

li.game a, li.sing-in a  {
    display: block;
    color: rgb(222, 210, 210);
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 17px;
}

/* Estilos para os links quando o mouse está sobre eles */
li.nav-item a:hover {
    background-color: #ddd;
    color: #0D0D12;
    width: 100%;
    text-align: right;
}

body {
    background-color: #35343D;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo para a barra de pesquisa */
.barra-de-pesquisa {
    display: flex;
    align-items: center;
    width: 450px;
    padding: 9px;
    background-color: white; 
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    margin-left: -170px;
    margin-right: 25px;
}

.barra-de-pesquisa input {
    flex: 1; /* Expande a entrada para ocupar o espaço restante */
    border: none; /* Remove a borda da entrada de texto */
    background: none; /* Remove o fundo da entrada de texto */
}

/* Estilo para o ícone da lupa */
.lupa {
    margin-right: 10px;
    font-size: inherit;
    color: #555;
    cursor: pointer;
}

.img img {
    width: 500px;
    height: auto;
    margin-top: 5px;
}
