#principal {
    background: #333;
    margin: 0;
    padding: 0;
}

#menu {
    background: black;
    padding: 10px;
    display: flex; /* Utilize flexbox para alinhar os itens à direita */
    justify-content: flex-end;
}

#menu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    margin: 0 10px; /* Adicione margem para espaçamento entre os links */
}

/* Estilize o link quando passar o mouse por cima */
#menu a:hover {
    text-decoration: underline;
}
