
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EBEBED;
}

.login-container {
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.login-title {
    color: #837E7E;
    font-size: 30px;
    margin-bottom: 18px;
}

.login-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.create-account {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}