/* Define estilos básicos para o corpo da página */
body {
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura da tela inteira */
    background-color: #EBEBED; /* Cor de fundo */
}

/* Estilos para o container do formulário de criação de conta */
.create-account-container {
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 500px;
    max-width: 300%px; /* Largura máxima */
    text-align: center;
}

/* Estilos para o título do formulário */
.create-account-title {
    color: #837E7E; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para campos de entrada de texto */
.login-input {
    margin-left: -10px;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Cantos arredondados */
}

/* Estilos para o container de termos e condições */
.terms-container {
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Estilos para o texto dos termos e condições */
.terms-text {
    flex: 1;
    color: #333;
    font-size: 14px;
    margin-left: 10px;
}

/* Estilos para a caixa de seleção "Aceitar" */
.agree-checkbox {
    margin-right: 10px;
}




/* Estilos para o texto do ícone do robô */
.robot-text {
    color: #F0F0F0;
    font-size: 14px;
}

/* Estilos para o botão de criação de conta */
.create-button {
    background-color: blueClear;
    color: white;
    border: 1px solid #666;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para o texto final abaixo do botão */
.final-text {
    margin-top: 20px;
    font-size: 14px;
    color: #837E7E;
}

/* Estilos para o formulário */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    background-color: #f5f5f5; /* Cor de fundo do corpo da página */
    display: flex; /* Usa um modelo flexível de layout */
    justify-content: center; /* Centraliza horizontalmente os elementos */
    align-items: center; /* Centraliza verticalmente os elementos */
    height: 100vh; /* Define a altura da tela inteira */
    margin: 0; /* Remove margens padrão do corpo */
}

form {
    background-color: #fff; /* Cor de fundo do formulário */
    padding: 20px; /* Espaçamento interno dentro do formulário */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    text-align: center; /* Centraliza o conteúdo do formulário */
}


input[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo quando o mouse passa sobre*/
}



/* captcha */

/* Define o estilo para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto para Arial ou qualquer fonte sans-serif disponível */
    background-color: #f0f0f0; /* Define a cor de fundo como um cinza claro (#f0f0f0) */
}

/* Define o estilo para o contêiner do captcha */
.captcha-container {

    width: 150px; /* Define a largura do contêiner como 200 pixels */
    margin: 10px auto; /* Centraliza o contêiner horizontalmente com margens superior e inferior de 50px */
    background-color: #fff; /* Define a cor de fundo como branco (#fff) */
    border: 1px solid #ccc; /* Adiciona uma borda de 1 pixel sólida com a cor cinza (#ccc) ao redor do contêiner */
    padding: 50px; /* Define o espaçamento interno do contêiner como 20 pixels */
    text-align: center; /* Centraliza o texto dentro do contêiner horizontalmente */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Aplica uma sombra suave ao contêiner */
}

/* Define o estilo para o texto do captcha */
.captcha-text {
    font-size: 20px; /* Define o tamanho da fonte como 24 pixels */
    margin-bottom: 10px; /* Adiciona uma margem inferior de 20 pixels para separar do próximo elemento */
    background-color: #eee; /* Define a cor de fundo como cinza claro (#eee) */
    padding: 5px; /* Define o espaçamento interno como 10 pixels */
    border: 1px solid #ccc; /* Adiciona uma borda de 1 pixel sólida com a cor cinza (#ccc) ao redor do elemento */
    border-radius: 4px; /* Arredonda os cantos do elemento com um raio de 4 pixels */
}

/* Define o estilo para a entrada de texto */
input[type="text"] {
    margin-left: -10px;
    padding: 10px; /* Define o espaçamento interno como 10 pixels */
    font-size: 20px; /* Define o tamanho da fonte como 16 pixels */
    border: 1px solid gainsboro; /* Adiciona uma borda de 1 pixel sólida com a cor cinza (#ccc) ao redor da entrada de texto */
    border-radius: 4px; /* Arredonda os cantos da entrada de texto com um raio de 4 pixels */
    width: 100%; /* Define a largura como 100% para preencher o contêiner horizontalmente */
    margin-bottom: 10px; /* Adiciona uma margem inferior de 10 pixels para separar do próximo elemento */
}

/* Define o estilo para o botão */
button {
    border-radius: 4px;
    background-color: #0074d9; /* Define a cor de fundo como azul (#0074d9) */
    color: #fff; /* Define a cor do texto como branco (#fff) */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Define o espaçamento interno do botão */
    font-size: 18px; /* Define o tamanho da fonte como 18 pixels */
    cursor: pointer; /* Altera o cursor para uma mãozinha quando o mouse passa sobre o botão */
}

/* Define o estilo para a mensagem de feedback */
.message {
    margin-top: 10px; /* Adiciona uma margem superior de 10 pixels para separar da entrada de texto */
    font-size: 18px; /* Define o tamanho da fonte como 18 pixels */
}
