body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EBEBED;
}

.create-account-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
    text-align: center;
}

.create-account-title {
    color: #837E7E;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.password-container {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-input {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    flex: 1;
}

.fas.fa-lock {
    position: absolute;
    right: 10px;
    color: #999;
}


.terms-container {
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.terms-text {
    flex: 1;
    color: #333;
    font-size: 14px;
    margin-left: 10px;
}

.agree-checkbox {
    margin-right: 10px;
}

.robot-box {
    background-color: #0056b3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.robot-icon {
    color: #F0F0F0;
    font-size: 24px;
    margin-right: 10px;
}

.robot-text {
    color: #F0F0F0;
    font-size: 14px;
}

.create-button {
    background-color: #F0F0F0;
    color: #333;
    border: 1px solid #666;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.final-text {
    margin-top: 20px;
    font-size: 14px;
    color: #837E7E;
}
